# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/


# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv

.vscode
src/.DS_Store
.DS_Store
.idea/*
data/*
/web/site/
docs/site/404.html
docs/site/index.html
docs/site/sitemap.xml
docs/site/sitemap.xml.gz
docs/site/assets/images/favicon.png
docs/site/assets/javascripts/bundle.1e84347e.min.js
docs/site/assets/javascripts/bundle.1e84347e.min.js.map
docs/site/assets/javascripts/lunr/tinyseg.js
docs/site/assets/javascripts/lunr/wordcut.js
docs/site/assets/javascripts/lunr/min/lunr.ar.min.js
docs/site/assets/javascripts/lunr/min/lunr.da.min.js
docs/site/assets/javascripts/lunr/min/lunr.de.min.js
docs/site/assets/javascripts/lunr/min/lunr.du.min.js
docs/site/assets/javascripts/lunr/min/lunr.es.min.js
docs/site/assets/javascripts/lunr/min/lunr.fi.min.js
docs/site/assets/javascripts/lunr/min/lunr.fr.min.js
docs/site/assets/javascripts/lunr/min/lunr.hi.min.js
docs/site/assets/javascripts/lunr/min/lunr.hu.min.js
docs/site/assets/javascripts/lunr/min/lunr.it.min.js
docs/site/assets/javascripts/lunr/min/lunr.ja.min.js
docs/site/assets/javascripts/lunr/min/lunr.jp.min.js
docs/site/assets/javascripts/lunr/min/lunr.multi.min.js
docs/site/assets/javascripts/lunr/min/lunr.nl.min.js
docs/site/assets/javascripts/lunr/min/lunr.no.min.js
docs/site/assets/javascripts/lunr/min/lunr.pt.min.js
docs/site/assets/javascripts/lunr/min/lunr.ro.min.js
docs/site/assets/javascripts/lunr/min/lunr.ru.min.js
docs/site/assets/javascripts/lunr/min/lunr.stemmer.support.min.js
docs/site/assets/javascripts/lunr/min/lunr.sv.min.js
docs/site/assets/javascripts/lunr/min/lunr.th.min.js
docs/site/assets/javascripts/lunr/min/lunr.tr.min.js
docs/site/assets/javascripts/lunr/min/lunr.vi.min.js
docs/site/assets/javascripts/lunr/min/lunr.zh.min.js
docs/site/assets/javascripts/workers/search.8397ff9e.min.js
docs/site/assets/javascripts/workers/search.8397ff9e.min.js.map
docs/site/assets/stylesheets/main.db9e7362.min.css
docs/site/assets/stylesheets/main.db9e7362.min.css.map
docs/site/assets/stylesheets/palette.3f5d1f46.min.css
docs/site/assets/stylesheets/palette.3f5d1f46.min.css.map
docs/site/search/search_index.json
