
.DS_Store

.idea/

data/

third-party/rust/target/

.vscode/

third-party/python/__pycache__/

rust/target/

python/__pycache__/

go/go.sum

go/searcher
.vscode
src/.DS_Store
.DS_Store
.idea/*
data/*
docs/site/
uploads/
/*.idea/*
python/.idea/.gitignore
python/.idea/markdown.xml
python/.idea/misc.xml
python/.idea/python.iml
python/.idea/vcs.xml
python/.idea/inspectionProfiles/profiles_settings.xml
python/.idea/inspectionProfiles/Project_Default.xml
python/.idea/modules.xml
rust/target/*
target/*